body {    
    color: rgb(227, 92, 115);
    text-align: center;
    background-color: rgba(142, 236, 208, 0.633);
    font-family: 'Titillium Web', sans-serif;
    font-size: 32px;
}
img {
    max-width:800px;
    margin: 0 auto 0 auto;
    height: auto;
    border-radius: 50%;
    padding: 20px;
}
img:hover{    
    background-color: rgba(253, 228, 232, 0.837);
}

.responsive {
    width: 100%;
    height: auto;
}

.return {
    background-color: rgba(75, 101, 149, 0.853);
    box-shadow: 0 5px 15px rgba(11, 219, 219,0.9);
    font-size: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    color: white;
    width: 50px;
    height: 25px;
    padding: 10px;
    vertical-align: middle;
    line-height: 25px;
}
a {
    text-decoration: none;
}