body {    
    color: rgb(231, 125, 142);
    text-align: center;
    background-color: rgba(54, 131, 79, 0.79);
    font-family: 'Titillium Web', sans-serif;
    font-size: 32px;
}
img {
    max-width:800px;
    margin: 0 auto 0 auto;
    height: auto;
    border-radius: 50%;
    padding: 20px;
}
img:hover{    
    background-color: pink;
}

.responsive {
    width: 100%;
    height: auto;
}

.return {
    background-color: rgb(72, 91, 230);
    box-shadow: 0 5px 15px rgba(11, 219, 219,0.9);
    font-size: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    color: rgb(213, 204, 140);
    width: 50px;
    height: 25px;
    padding: 10px;
    vertical-align: middle;
    line-height: 25px;
}
a {
    text-decoration: none;
}