body {    
    color: rgba(114, 49, 121, 0.924);
    text-align: center;
    background-color: rgba(156, 197, 236, 0.737);
    font-family: 'Titillium Web', sans-serif;
    font-size: 32px;
}
img {
    max-width:800px;
    margin: 0 auto 0 auto;
    height: auto;
    border-radius: 50%;
    padding: 20px;
}
img:hover{    
    background-color: rgba(241, 219, 223, 0.712);
}

.responsive {
    width: 100%;
    height: auto;
}

.return {
    background-color: rgba(25, 112, 156, 0.871);
    box-shadow: 0 5px 15px rgba(106, 159, 159, 0.9);
    font-size: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    color: white;
    width: 50px;
    height: 25px;
    padding: 10px;
    vertical-align: middle;
    line-height: 25px;
}
a {
    text-decoration: none;
}